@font-face {
    src: url("/fonts/Raleway-Bold.ttf") format("woff2");
    font-family: "ralewayBold";
  }

  @font-face {
    src: url("/fonts/Raleway-Regular.ttf") format("woff2");
    font-family: "ralewayReg";
  }

  @font-face {
    src: url("/fonts/Franchise.ttf") format("woff2");
    font-family: "franchise";
  }

  @font-face {
    src: url("/fonts/FranchiseFilled.ttf") format("woff2");
    font-family: "franchiseF";
  }


* {
    box-sizing: border-box;
}

html {
    font-family: 'ralewayReg';
}

.navbar {
    border-bottom: 5px solid #98C1D9;
    background-color: white;
    font-family: "ralewayBold";


}

.nav-link:hover {
    color:#98C1D9;
}

.nav-link {
    color: #0C0910;
    font-size: 20px;
}

.dropdown-item {
    color: #0C0910;

}

.dropdown-item:hover {
    background-color: #E0FBFC;

}

.dropdown-toggle:visited {
    color:#0C0910;

}

.dropdown-toggle:hover {
    color:#98C1D9;

}

.bi {
    text-align: center;

}

.navbar-nav {
    width: 50%;
    justify-content: space-between;
}

.hero {
    height: 75vh;
    width: 100%;
    
    video {
    object-fit: fill;
    height: 100%;
    width: 100%;
}
}

.herotitle {
    position: absolute;
    font-family: 'franchise';
    font-size: 10vw;
    color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
}

@media screen and (max-width: 320px){ 
    .herotitle {
        font-size: 15vw; 
        
    }

    .texte-presentation {
        font-size: 9px;

    }

}




.navbar-brand {
    img {
        object-fit: fill;

    }
}

.presentation {
    margin: 35px 0;
    border-bottom: 5px solid #98C1D9;
    padding-bottom: 20px;
}


.title-presentation {
    font-family:'ralewayBold';
    text-align: center;
    font-size: 35px;
}
.texte-presentation {
    font-family: 'ralewayReg';
    font-size: 25px;
    text-align: center;
    margin: 0 15px;
    
}

.comp-title {
    font-family: 'ralewayBold';
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.competences {
    text-align: center;
    margin-bottom: none;
    font-size: 20px;

}

ul {
    list-style-type: none;

}

.complist {
    border-bottom: 5px solid #98C1D9;
    padding-bottom: 20px;

    div {
        margin: 2% 0;
    }
}

h2 {
    font-family: 'ralewayBold';
}

